.contact{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-X6yNhZGek9OklY6FY6cVB89orjySEcR7Qg&s');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    

}
.contactheading1{
    /* text-align: center;
    justify-content: center; */
    font-size: 35px;
    letter-spacing: 10px;
    padding-top:120px;
    font-weight: 700;
    color:black;
    text-transform:uppercase;
}

.contactheading2{
    text-align: center;
    font-size: 15px;
    width: 40%;
    margin: 20px;
    color: white;
    
    
}

.contactbutton{
    align-items: center;
    justify-content: center;
    font-size: 14.592px;
    text-transform:uppercase;
    background-color:#4C6465;
     display:flex;
     width: 170px;
     height: 50px;
     margin-top: 30px;
     color: azure;
     letter-spacing: 2px;

}

.contactbutton:hover{
    background-color:black;
}